<html>
    <head>
        <title>
            Monoranjan
        </title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/my-bio.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="col-md-2 col-md-offset-5">
        <img class="img-circle" src="/static/monoranjan.jpg" width="200" height="200">
            </div>
        <br>
        <div class="col-md-10 col-md-offset-1 top-space">
        <h3 class="margin-base-vertical text-center headline">Monoranjan Mandal</h3>
        <p class="text-justify">Recently I have completed Master of Computer Application from Banaras Hindu University and during my college days I have learnt so many technologies and implement them in projects, but now it’s time for me to use those knowledge and skills to start my career and for the betterment of the organization. Currently I am doing internship at Qxf2 Service and gaining experience of various tools, technologies that are uses in industries.</p>
        
        
    
        <b>Key skills:</b>
        <ul>
            <li>Java</li>
            <li>Python</li>
            <li>C</li>
        </ul>
    </div>
    </div>
    </body>
</html>